{{! Profile image
info card
prompt card with 3 sections
top 5 sortable list
carousel }}

<main class="container">
  <div class="row">
    <div class="col-lg-5">
      <div class="col-12 profile-info">
        <img
          class="user-image"
          src="/icons/UserIconChoices/12.svg"
          alt="User Image"
        />
        <div class="card user-info-card">
          <div class="card-body">
            <p>{{name}}</p>
            <p>{{location}}</p>
            <p>{{spooky_scale}}</p>
          </div>
        </div>
      </div>

      {{! <div class="d-flex justify-content-evenly"> }}
      <div class="card user-prompt-card">
        <div class="card-body">

          <div class="card">
            <div class="card-body prompt-question-cards">
              <h5>My Favorite Spooky Snack Is:</h5>
              <p class="prompt-answer">{{answer_1}}</p>
            </div>
          </div>
          <div class="card">
            <div class="card-body prompt-question-cards">
              <h5>My Top 3 October Activities Are:</h5>
              <p class="prompt-answer">{{answer_2}}</p>
            </div>
          </div>
          <div class="card">
            <div class="card-body prompt-question-cards">
              <h5>My Best Halloween Costume Ever Was::</h5>
              <p class="prompt-answer">{{answer_3}}</p>
            </div>
          </div>

        </div>
      </div>
    </div>
    {{! END OF FIRST COLUMN }}
    <div class="col-lg-3 d-flex flex-column justify-content-end">

      <div class="card user-top5">
        <div class="card-body">
          <p class="top5">My Top Five Movies</p>
          <div class="card user-movie m-1 p-1">
            <p>{{}}</p>
          </div>
          <div class="card user-movie m-1 p-1">
            <p>{{}}</p>
          </div>
          <div class="card user-movie m-1 p-1">
            <p>{{}}</p>
          </div>
          <div class="card user-movie m-1 p-1">
            <p>{{}}</p>
          </div>
          <div class="card user-movie m-1 p-1">
            <p>{{}}</p>
          </div>
        </div>
      </div>

      <div>
        <a href="/profile/edit">
          <button type="button" class="edit-profile-btn p-3">Edit Profile</button></a>
      </div>
    </div>
    {{! END OF SECOND COLUMN }}
    <div class="col-lg-4 d-flex flex-column justify-content-end">
      <div id="carouselExample" class="carousel slide">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img
              src="https://m.media-amazon.com/images/M/MV5BZDQzMmIxYTItOTJkMi00YzU1LWJkNGEtYWE1NjhiNWU5YmNkXkEyXkFqcGdeQXVyNjc5NjEzNA@@._V1_SX300.jpg"
              class="d-block w-100"
              alt="..."
            />
          </div>
          <div class="carousel-item">
            <img
              src="https://m.media-amazon.com/images/M/MV5BNjcyMDZlMTktYTIxOC00ZWFhLWJkYzgtNWNiYjAwYTFkNjIyXkEyXkFqcGdeQXVyNTIzOTk5ODM@._V1_SX300.jpg"
              class="d-block w-100"
              alt="..."
            />
          </div>
          <div class="carousel-item">
            <img
              src="https://m.media-amazon.com/images/M/MV5BMGIzNTMxOGEtMzg3NC00M2ZhLWEwYzAtMjE5MTQyNzBhZTcwXkEyXkFqcGdeQXVyMTQxNzMzNDI@._V1_SX300.jpg"
              class="d-block w-100"
              alt="..."
            />
          </div>
        </div>
        <button
          class="carousel-control-prev"
          type="button"
          data-bs-target="#carouselExample"
          data-bs-slide="prev"
        >
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button
          class="carousel-control-next"
          type="button"
          data-bs-target="#carouselExample"
          data-bs-slide="next"
        >
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </div>

  </div>

</main>